:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html {
  margin: 0;
  background-image: radial-gradient(white, orange);
  height: 100vh;
  cursor: url("./src/assets/cursor/Ghost.cur"), auto;
  padding: 0;
}

.title {
  text-align: center;
  font-size: 6em;
  font-weight: 700;
  background: linear-gradient(90deg, green, rgba(0, 0, 255, 0.726));
  -webkit-background-clip: text;
  color: transparent;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 500px;
}

.game-info-container {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}

.overlay-text {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
  color: orange;
}

.restart {
  font-size: 0.3em;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 1s forwards;
}

@keyframes overlay-grow {
  from {
    background-color: black;
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.836);
    font-size: 3em;
  }
}

.card {
  background-color: black;
  width: 125px;
  height: 175px;
  position: relative;
  cursor: url("./src/assets/cursor/GhostHover.cur"), auto;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  backface-visibility: hidden;
  transition: transform 500ms ease-in-out; /* flipping animation */
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}

.card.matched .card-value {
  animation: dance 1s linear infinite 500ms;
}

@keyframes dance {
  0%,
  100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-30deg);
  }

  70% {
    transform: rotate(30deg);
  }
}

.card-back {
  transform: rotateY(0);
}

.card-front {
  background-color: #ffbb89;
  border-color: #333;
  transform: rotateY(180deg);
}

.cobweb {
  position: absolute;
  width: 47px;
  height: 47px;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
}

.card-back:hover .cobweb {
  width: 52px;
  height: 52px;
}

.card-front:hover .cobweb {
  width: 52px;
  height: 52px;
}

.cobweb-top-left {
  transform: rotate(270deg);
  top: 0;
  left: 0;
}

.cobweb-top-right {
  top: 0;
  right: 0;
}

.cobweb-bottom-left {
  transform: rotate(180deg);
  bottom: 0;
  left: 0;
}

.cobweb-bottom-right {
  transform: rotate(90deg);
  bottom: 0;
  right: 0;
}

.spider {
  position: absolute;
  top: 35px;
  left: 22px;
  width: 80px;
  height: 100px;
}

.card-back:hover .card-value {
  scale: 1.2;
}

.card-back:hover .spider {
  scale: 1.2;
}

.card-front:hover .card-value {
  scale: 1.2;
}

@media (max-width: 700px) {
  .game-container {
    grid-template-columns: repeat(2, auto);
  }
  .title {
    font-size: 4em;
  }
}
